body {
	width: 100%;
	margin: 0px;
}

.button-area-line {
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: ;
	max-width: 90%;
}
a {
	background: #222222;
	color: #fff;
	padding: 15px;
	font-size: 15px;
	margin: 3px;
	text-decoration: none;
	flex-grow: 1;
	text-align: center;
}